body {
    background: linear-gradient(11111111111deg, #b396af, #eea046);
}

.container{

}
.row {

}
h1 {
    text-align: center;
    font-size: 100px;
    text-shadow: 2px 2px black;
    font-style: italic;
}
    

h2 {
    text-align: center;
    color: black;
}

hr {
    border: 1px solid rgba(66, 64, 61, 0.582);
}

input {
    position: sticky;
    cursor: pointer;
    width: 200px;
    height: 70px;
}

table {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    
}

td {
    text-align: center;
    font-weight: bold;
    font-size: 20px ;
    margin-left: auto;
    margin-right: auto;
    color: rgb(8, 9, 10);
    border-radius: 15px;
    border-style: solid;
    height: 100px;
    width: 500px;
    
}
